.login-card{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.example-card{
    max-width: 550px;
    height: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    mat-card-header{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            margin-block: 50px;
            font-size: 20px ;
            text-align: center;
        }

        mat-card-title{
            font-size: clamp(2rem, 2rem + 1vw, 2.875rem);
            font-weight: 700;
            color: #444DF2;
        }
    }
}


.form-field{
    width: 100%;
    margin-bottom: 30px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: #ECEEFE !important;
    border-radius: 30px;
    --mdc-filled-text-field-active-indicator-height: 0px;
    --mdc-filled-text-field-focus-active-indicator-height: 0px;
    --mdc-filled-text-field-container-shape: 0px;
}

mat-label{
    margin-left: 10px;
}

.mdc-text-field__input {
    text-indent: 10px;
}

::ng-deep .mat-mdc-form-field-flex{
    display: flex !important;
    flex-direction: row-reverse !important;
}

.arrow-back{
    position: absolute;
    left: 4%;
    top: 7%;
    color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        color: #535AF1;
        background-color: #ECEEFE;
        border-radius: 50px;
    }
}

.btnsContainer{
    width: 100%;
    top: 20px;

    button{
        border-radius: 30px;
        height: 45px;
        float: right;
        width: 40%;
    }

}

.example-margin{
    width: 95%;
    float: left;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
    border-color: blue !important;
    background-color: #444DF2 !important;

}





