<div class="login-card" *ngIf="!isLoginCard1Hidden">
  <mat-card class="example-card">

    <a class="arrow-back" (click)="onArrowBackClick()">
      <mat-icon class=" hvr-skew-backward" fontIcon="arrow_back"></mat-icon>
    </a>

    <mat-card-header>
      <mat-card-title>Konto erstellen</mat-card-title>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto</p>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="form-field">
        <mat-label>Name und Nachname</mat-label>
        <input matInput [(ngModel)]="fullName" required>
        <mat-error *ngIf="isNameInvalid()">You must enter a value</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>beispielname@email.com</mat-label>
        <input [(ngModel)]="email" class="input custom-input" matInput  required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field  class="form-field">
        <mat-label>Enter your password</mat-label>
        <input [(ngModel)]="password"  matInput [type]="hide ? 'password' : 'text'"  required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>

    <mat-checkbox class="example-margin" [(ngModel)]="privacyAgreed">Ich stimme der <a href="#">Datenschutzerklärung</a> zu</mat-checkbox>
  
    <div class="btnsContainer">
      <button (click)="addContact()" routerLink="/home" [disabled]="!privacyAgreed" mat-raised-button color="primary">Anmeldung</button>
    </div>
  </mat-card>
</div>    

<div class="login-card2" *ngIf="!isLoginCard2Hidden">
  <mat-card class="example-card2">

    <a class="arrow-back" routerLink="/">
      <mat-icon class=" hvr-skew-backward" fontIcon="arrow_back"></mat-icon>
    </a>

    <mat-card-header>
      <mat-card-title>Wähle deinen Avatar</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img class="profile-pic" *ngIf="selectedImage" [src]="selectedImage" alt="">
      <h2>Frederik Beck</h2>
      <p>Aus der Liste wählen</p>
      <div class="img-container">
          <img src="./assets/character1.png" (click)="showMainImage('./assets/character10.png')" alt="">
          <img src="./assets/character2.png" (click)="showMainImage('./assets/character20.png')" alt="">
          <img src="./assets/character3.png" (click)="showMainImage('./assets/character30.png')" alt="">
          <img src="./assets/character4.png" (click)="showMainImage('./assets/character40.png')" alt="">
          <img src="./assets/character5.png" (click)="showMainImage('./assets/character50.png')" alt="">
          <img src="./assets/character6.png" (click)="showMainImage('./assets/character60.png')" alt="">
      </div>
      <div class="upload-container">
          <p>eingenes Bild verwenden</p>
          <input type="file" id="real-input" (change)="onFileSelected($event)">
          <label for="real-input">Bild auswählen</label>
      </div>
    </mat-card-content>


    <div class="btnsContainer2">
      <button (click)="onContinueClick()"  mat-raised-button color="primary">Weiter</button>
    </div>
  </mat-card>
</div>    


