<div class="login-card">
  <mat-card class="example-card">

    <a class="arrow-back" routerLink="">
      <mat-icon class=" hvr-skew-backward" fontIcon="arrow_back"></mat-icon>
    </a>

    <mat-card-header>
      <mat-card-title>Konto erstellen</mat-card-title>
      <p>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto</p>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="form-field">
        <mat-label>Name und Nachname</mat-label>
        <input matInput [(ngModel)]="fullName" required>
        <mat-error *ngIf="isNameInvalid()">You must enter a value</mat-error>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>beispielname@email.com</mat-label>
        <input [(ngModel)]="email" class="input custom-input" matInput  required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field  class="form-field">
        <mat-label>Enter your password</mat-label>
        <input [(ngModel)]="password"  matInput [type]="hide ? 'password' : 'text'"  required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>

    <mat-checkbox class="example-margin" [(ngModel)]="privacyAgreed">Ich stimme der <a href="#">Datenschutzerklärung</a> zu</mat-checkbox>
  
    <div class="btnsContainer">
      <button (click)="addContact()" routerLink="/avatar" [disabled]="!privacyAgreed" mat-raised-button color="primary">Anmeldung</button>
    </div>
  </mat-card>
</div>    
