::ng-deep .mdc-dialog__surface {
    border-radius: 30px !important;
}

::ng-deep .mdc-dialog .mdc-dialog__content{
    padding: 20px 30px !important;
}

.dialog-container{
    height: 600px;
    width: 23vw;
    border-radius: 30px;

    .header{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        margin-top: 10px;

        h1{
            margin-left: 8px;
            margin-bottom: 0 !important;
        }

        mat-icon{
            margin-right: 30px;
            cursor: pointer;
        }
    }

    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;

        button{
            background-color: #444DF2;
            color: white;
            font-size: 18px;
            padding: 12px 25px;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            transform: translateY(25px);

            &:hover{
                background-color: #797EF3;
            }
        }
    }
}

.dialog-content{

    .contact-img{
        width: 100%;
        display: flex;
        justify-content: center;
    
        img{
            width: 175px;
            height: 175px;
            border-radius: 50%;
        }
    }

    h1{
        font-size: 30px;
        font-weight: 500;
        color: black;
        margin-top: 30px;
    }

    .online-status{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #92C83E;
        margin-bottom: 30px;
    }

    .email-section{
        display: flex;
        align-items: center;
        color: black;
        font-size: 18px;
        font-weight: 500;
        gap: 10px;
        margin-bottom: 16px;

        img{
            height: 25px;
            width: 25px;
        }
    }

    a{
        margin-left: 37px;
        text-decoration: none;
    }

}


