<mat-card class="main-card">
    <mat-card-content>

        <mat-card class="header">
            <mat-card-content>
                <div (click)="openDialog()" class="header-title">
                    <img *ngIf="contacts.currentContact.length > 0 && contacts.currentContact[0].photoURL" [src]="contacts.currentContact[0].photoURL" alt="">
                    <p>{{contacts.currentContact.length > 0 ? contacts.currentContact[0].displayName : ''}}</p>
                </div>
            </mat-card-content>
        </mat-card>

        <div *ngIf="chatCard.show" class="contact-container">
            <div class="contact-title">
                <img  [src]="contacts.currentContact[0].photoURL" alt="">
                <p>{{contacts.currentContact[0].displayName}}</p> 
            </div>
            <p class="contact-text">Diese Unterhaltung findet nur zwischen 
                <span (click)="openDialog()">@{{contacts.currentContact[0].displayName}}</span>
                und dir statt
            </p>
        </div>

        <form class="form">
            <div class="input-container">
                <input class="input" matInput #message maxlength="256" placeholder="Nachricht an ...">
                <img class="icon-send" src="./assets/icon-send.png" alt="">
                <div class="icons">
                    <img src="./assets/icon-add.png" alt="">
                    <img src="./assets/icon-line.png" alt="">
                    <img src="./assets/icon-emoji.png" alt="">
                    <img src="./assets/icon-tag.png" alt="">
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>
