<mat-card class="main-card">
    <mat-card-content>

        <mat-card class="header">
            <mat-card-content>
                <div (click)="openDialog()" class="header-title">
                    <!-- <img *ngIf="contacts.updatedContact.length > 0 && contacts.updatedContact[0].avatar" [src]="contacts.updatedContact[0].avatar" alt="">
                    <p>{{contacts.updatedContact.length > 0 ? contacts.updatedContact[0].fullName : ''}}</p> -->
                </div>
            </mat-card-content>
        </mat-card>

        <div *ngIf="chatCard.show" class="contact-container">
            <div class="contact-title">
                <!-- <img *ngIf="contacts.updatedContact.length > 0 && contacts.updatedContact[0].avatar" [src]="contacts.updatedContact[0].avatar" alt="">
                <p>{{contacts.updatedContact.length > 0 ? contacts.updatedContact[0].fullName : ''}}</p> -->
            </div>
            <p class="contact-text">Diese Unterhaltung findet nur zwischen 
                <!-- <span (click)="openDialog()">@{{contacts.updatedContact.length > 0 ? contacts.updatedContact[0].fullName : ''}}</span>
                und dir statt
            </p> -->
        </div>

        <form class="form">
            <div class="input-container">
                <input class="input" matInput #message maxlength="256" placeholder="Nachricht an ...">
                <img class="icon-send" src="./assets/icon-send.png" alt="">
                <div class="icons">
                    <img src="./assets/icon-add.png" alt="">
                    <img src="./assets/icon-line.png" alt="">
                    <img src="./assets/icon-emoji.png" alt="">
                    <img src="./assets/icon-tag.png" alt="">
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>
