<div class="dialog-container">
    <div class="header">
      <h1 mat-dialog-title>Profil</h1>
      <mat-icon mat-dialog-close fontIcon="close"></mat-icon>
    </div>
    <div class="dialog-content" mat-dialog-content>
      <div class="contact-img">
        <!-- <img src={{contacts.updatedContact[0].avatar}} alt=""> -->
      </div>
      <div class="edit-section">
        <!-- <h1>{{contacts.updatedContact[0].fullName}}</h1> -->
        <span (click)="openProfilEditDialog()">Bearbeiten</span>
      </div>
      <div class="online-status">
        <img src="./assets/icon-online.png" alt="">
        <span>Aktiv</span>
      </div>
      <div class="email-section">
        <img src="./assets/icon-mail.png" alt="">
        <span>E-Mail-Adresse</span>
      </div>
      <!-- <a href="#">{{contacts.updatedContact[0].email}}</a> -->
    </div>
  </div>
  
