<h1 mat-dialog-title>Channel erstellen</h1>
<div mat-dialog-content>
  <p>Channels dienen deinemTeam zur Kommunikation. Am besten sollten sie themenbezogen sein.</p>
  <h2>Channel-Name</h2>
  <mat-form-field class="form-field">
    <input placeholder="z.B. Kooperationsprojekte" class="input custom-input" matInput>
  </mat-form-field>
  <h2>Beschreibung</h2>
  <mat-form-field class="form-field">
    <input placeholder="Dein Text hier" class="input custom-input" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Erstellen</button>
</div>
